/* Roboto google font family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* General styles */
body {
    font-family: Roboto;
}
/* page sizing and padding */
.container {
    width: min(1440px, 100% - (1rem * 2));
    margin-inline: auto;
}
/* Hero section */
.hero-inner {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.hero__content h1 {
    color: lightblue;
}

.hero__background {
    height: 100vh;
    background: no-repeat center/contain url('../images/hero.png');
}